{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.yml"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
